/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; font-family:"΢���ź�"}
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input:focus, textarea:focus, select:focus { outline: none; }
select, input { vertical-align: middle; }
legend { color: #000; }
.clean:before, .clean:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.clean:after, .clearfix:after { clear: both; }
.clean, .clearfix { zoom: 1; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.break { word-wrap: break-word; width: inherit; }
.linkhidden { text-indent: -9999em; overflow: hidden; }
.hidden { display: none; }
a{ text-decoration:none;}
/*reset*/


.subNavBox{width:170px;height:561px;}
.subNav{cursor:pointer;font-size:14px;color:#6f767c;line-height:28px;text-align:center;background:url(../images/jiantou1.png) no-repeat;background-position:85% 50%}
.subNav:hover{color:#277fc2;}
.currentDd{background-color: #bde0fc;}
.currentDt{background-image:url(../images/jiantou.png);}
.navContent{display: none;border-bottom:solid 1px #98cef0;}
.navContent li a{display:block;width:170px;height:28px;text-align:center;font-size:13px;line-height:28px;color:gray;padding-top: 2px;}
.navContent li a:hover{color:#fff;background-color:#277fc2}
.navContent li a img {vertical-align:middle;}
.navContent li a span {vertical-align:middle;line-height:28px;}

.subNavBox1{height:562px;border:solid 1px #e5e3da;background-color: #daecfb;margin-top: 10px;}
.subNav1{border-bottom:solid 1px #e5e3da;cursor:pointer;font-weight:bold;font-size:20px;color:#343434;line-height:35px;padding-left:50px;background:url(../images/jiantou.png) no-repeat;background-color:#EEE8CD;background-position:2% 50%}
.subNav1:hover{color:#277fc2;}
.currentDd1{color:#277fc2}
.currentDt1{background-image:url(../images/jiantou1.png);}
.navContent1{display: none;border-bottom:solid 1px #e5e3da;}
.navContent1 li{height: 30px;font-size: 18px;padding-left: 50px;padding-top: 10px;}
.navContent1 li a{display:block;width:500px;heighr:28px;text-align:center;font-size:15px;line-height:28px;color:gray;}
.navContent1 li a:hover{color:#fff;background-color:#277fc2}

.subNavBox2{width:980px;height:561px;border:solid 1px #e5e3da; }
.subNav2{border-bottom:solid 1px #e5e3da;cursor:pointer;font-weight:bold;font-size:20px;color:#343434;line-height:35px;padding-left:50px;background:url(../images/jiantou.png) no-repeat;background-color:#F4F4F4;background-position:2% 50%}
.subNav2:hover{color:#277fc2;}
.currentDd2{color:#277fc2}
.currentDt2{background-image:url(../images/jiantou1.png);}
.navContent2{display: none;border-bottom:solid 1px #e5e3da;}
.navContent2 li{height: 30px;font-size: 18px;padding-left: 50px;padding-top: 10px;}
.navContent2 li a{display:block;width:500px;heighr:28px;text-align:center;font-size:15px;line-height:28px;color:gray;}
.navContent2 li a:hover{color:#fff;background-color:#277fc2}

