<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="com.ant.scq.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="trainInfoDao" class="com.ant.scq.dao.impl.TrainInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="menuTypeDao" class="com.ant.scq.dao.impl.MenuTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="courseInfoDao" class="com.ant.scq.dao.impl.CourseInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="teacherInfoDao" class="com.ant.scq.dao.impl.TeacherInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="subjectDao" class="com.ant.scq.dao.impl.SubjectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="subjectItemDao" class="com.ant.scq.dao.impl.SubjectItemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="subjectUserDao" class="com.ant.scq.dao.impl.SubjectUserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="subjectCommentDao" class="com.ant.scq.dao.impl.SubjectCommentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="trainCommentDao" class="com.ant.scq.dao.impl.TrainCommentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="examInfoDao" class="com.ant.scq.dao.impl.ExamInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userExamDao" class="com.ant.scq.dao.impl.UserExamDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="scoreItemDao" class="com.ant.scq.dao.impl.ScoreItemDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="sourceInfoDao" class="com.ant.scq.dao.impl.SourceInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>
