*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "ו";}
/* expmenu */
ul.expmenu{width:100%;margin:0px;}
ul.expmenu li div.header{padding:12px;border-bottom:1px #fff solid;}
ul.expmenu li:last-child div.header{border-bottom:none;}
ul.expmenu li ul li {background-color:#ffffff;padding:12px;color:#727272;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.8);}
ul.expmenu li ul li:last-child{border-bottom:none;}
ul.expmenu li ul li.selected{background-color:#ffffff;}
ul.expmenu div.header{
	color:#666666;
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
	vertical-align:middle;
	background:#666666;/* Old browsers */
	background:-moz-linear-gradient(top, #666666 0%, #666666 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#666666));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #666666 0%,#666666 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #666666 0%,#666666 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #666666 0%,#666666 100%);/* IE10+ */
	background:linear-gradient(to bottom, #666666 0%,#666666 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666',GradientType=0 );/* IE6-9 */
}
ul.expmenu li div.header .label{background:no-repeat;color: #fff;/*text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);*/ font-weight:bold;}
ul.expmenu li div.header .arrow{display:block;width:25px;height:25px;background:no-repeat center;float:right;}
ul.expmenu li div.header .arrow.up{background-image:url(../images/arrow_u.png);}
ul.expmenu li div.header .arrow.down{background-image:url(../images/arrow_d.png);}
ul.expmenu li .menu{display:block;}	
/* Mouse Events */
ul.expmenu div.header:hover{
	background:#666666;/* Old browsers */
	background:-moz-linear-gradient(top, #666666 0%, #666666 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#666666));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #666666 0%,#666666 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #666666 0%,#666666 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #666666 0%,#666666 100%);/* IE10+ */
	background:linear-gradient(to bottom, #666666 0%,#666666 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666',GradientType=0 );/* IE6-9 */
	cursor:pointer;
}

ul.expmenu li ul li:not(.selected):hover{
	background:#efe8d8;/* Old browsers */
	cursor:pointer;
}
ul.expmenu li ul li:not(.selected):active{
	background:#f1f1f1;/* Old browsers */
	cursor:pointer;
}